body{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.parentDiv{
    border: 1px solid darkgoldenrod;
    height:450px;
    border-radius: 5px;
    background-color: darkorange;
    
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form .form-input{
    color:deeppink;
    font-weight: 600;
    outline: none;
}

.form .form-input:hover {
 border-radius: 5px;
 background-color: khaki;
}

.form button{
    background-color: deeppink;
    border-radius: 5px;
    color:greenyellow;
    font-weight: 600;
}
.delete-btn:hover {
    background-color: red !important;
}

.form button:hover{
    background-color: greenyellow;
    color:deeppink;

}

.list{
    list-style-type:none;
    font-weight: 600;
    color:#fff;
}